/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #3c3c3c;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

/* Nav Styles */
nav {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    background-color: #ddd;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px transparent;
    transition: all 0.15s linear;
}

a.active {
    border-bottom: 2px solid #1a75ff;
}

a:hover:not(.active) {
    border-bottom: 2px solid #1a75ff opacity 0.8;
}

/* Content Styles */
.content {
    padding: 20px;
}

h1 {
    text-align: center;
}
